.weekly-weather-summary {
    background-color: var(--color-white);
    border-radius: 21px;
    box-shadow: var(--shadow-card);
    padding: 21px 27px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

@media (min-width: 600px) {
    .weekly-weather-summary {
        flex-direction: row;
        gap: clamp(40px, 10vw, 90px);
    }
}

.weather-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.weather-item {
    display: flex;
    align-items: center;
    gap: 12px;
}