:root {
  --color-background: #F9F9F9;
  --color-shadow: rgba(0, 0, 0, 0.05);

  --font-size-title: 36px;
  --font-size-heading: 24px;
  --font-size-button: 16px;
  --font-size-text: 14px;
  --font-family: 'Roboto', sans-serif;
}

* {
  font-family: var(--font-family), sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  padding: 30px;
}